@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 100% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 168 54% 60%; /* #70CDB3 */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 173 32% 80%;
    --secondary-foreground: 168 54% 15%;
    --muted: 168 32% 90%;
    --muted-foreground: 240 10% 20%;
    --accent: 173 32% 75%;
    --accent-foreground: 240 10% 15%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 20% 85%;
    --input: 168 20% 85%;
    --ring: 168 54% 60%;
    --chart-1: 173 58% 50%;
    --chart-2: 168 50% 40%;
    --chart-3: 197 37% 30%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 168 54% 98%;
    --sidebar-foreground: 168 40% 20%;
    --sidebar-primary: 168 54% 60%;
    --sidebar-primary-foreground: 240 100% 98%;
    --sidebar-accent: 168 54% 90%;
    --sidebar-accent-foreground: 168 40% 20%;
    --sidebar-border: 168 54% 75%;
    --sidebar-ring: 168 54% 65%;
  }

  .dark {
    --background: 168 40% 15%;
    --foreground: 0 0% 98%;
    --card: 168 40% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 168 40% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 168 54% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 168 30% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 168 30% 25%;
    --muted-foreground: 168 20% 80%;
    --accent: 168 30% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 30% 35%;
    --input: 168 30% 35%;
    --ring: 168 54% 50%;
    --chart-1: 173 58% 50%;
    --chart-2: 168 50% 40%;
    --chart-3: 197 37% 30%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 168 40% 10%;
    --sidebar-foreground: 168 54% 90%;
    --sidebar-primary: 168 54% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 168 30% 30%;
    --sidebar-accent-foreground: 168 54% 90%;
    --sidebar-border: 168 30% 35%;
    --sidebar-ring: 168 54% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
